parameters:
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	level: max
	ignoreErrors:
		-
			message: '#Method ReactParallel\\Factory::call\(\) should return T\|null but returns T\|void\|null.#'
			path: ../../src/Factory.php
		-
			identifier: shipmonk.nonNormalizedType
			path: ../../src/Factory.php
			count: 10
		-
			message: '#sleep blocks the event loop#'
			path: ../../tests/Types.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
				- ReactParallel\Tests\AbstractPoolTest
