parameters:
	level: max
	ignoreErrors:
		-
			message: '#Method ReactParallel\\Factory::call\(\) should return T\|null but returns T\|void\|null.#'
			path: ../../src/Factory.php
		-
			message: '#sleep blocks the event loop#'
			path: ../../tests/Types.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
				- ReactParallel\Tests\AbstractPoolTest
includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon
	- ../../vendor/react-parallel/stubs/extension.neon
